<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>459541798386-54sme2dr0fa1hjcpk55ssqdvftonbpsq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.459541798386-54sme2dr0fa1hjcpk55ssqdvftonbpsq</string>
	<key>API_KEY</key>
	<string>AIzaSyACJatTnk6tswM3xj7SA9owI96Q-I_kkW4</string>
	<key>GCM_SENDER_ID</key>
	<string>459541798386</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.itsviplove.VipSnapchat</string>
	<key>PROJECT_ID</key>
	<string>vipsnapchat-ffa29</string>
	<key>STORAGE_BUCKET</key>
	<string>vipsnapchat-ffa29.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:459541798386:ios:56cbccd245ea84a1</string>
	<key>DATABASE_URL</key>
	<string>https://vipsnapchat-ffa29.firebaseio.com</string>
</dict>
</plist>